## An√°lisis Exploratorio de Datos

In [2]:
# Importacion de librerias:
import pandas as pd
import numpy as np
import json
import ast
import gzip

# Rutas de los datos:
ruta_games='Datasets/steam_games.json.gz'
ruta_reviews='Datasets/user_reviews.json.gz'
ruta_items='Datasets/users_items.json.gz'

C:\Users\Martin\AppData\Local\Temp\ipykernel_8284\1578219974.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

### Carga de datos

In [3]:
## Games:
games = []
with gzip.open(ruta_games, 'rt', encoding='utf-8') as archivo:
    lineas = archivo.readlines()
    for linea in lineas:
        games.append(linea) 

# Quitamos el '\n' al final de cada linea:
for i in range(0,len(games)):
    games[i]= games[i].replace("\n","")
# Transformo cada una de las cadenas a diccionario de Python:
for i in range(0,len(games)):
    games[i]= json.loads(games[i])
    
# Transformamos a DataFrame:
df_games = pd.DataFrame(games)

In [4]:
## Reviews:
reviews = []
with gzip.open(ruta_reviews, 'rt', encoding="utf-8") as archivo:
    lineas = archivo.readlines()
for linea in lineas:
    reviews.append(ast.literal_eval(linea))
    
# Transformamos a DataFrame:
df_reviews = pd.DataFrame(reviews)

In [5]:
## Items:
items = []
with gzip.open(ruta_items, 'rt', encoding="utf-8") as archivo:
    lineas = archivo.readlines()
for linea in lineas:
    items.append(ast.literal_eval(linea))
    
# Transformamos a DataFrame:
df_items = pd.DataFrame(items)

### EDA GAMES

In [6]:
df_games.head(4)

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Vemos en primera instancia que hay registros nulos en su totalidad

In [10]:
df_games.shape

(120445, 13)

In [8]:
df_games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120445 entries, 0 to 120444
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   publisher     24083 non-null  object
 1   genres        28852 non-null  object
 2   app_name      32133 non-null  object
 3   title         30085 non-null  object
 4   url           32135 non-null  object
 5   release_date  30068 non-null  object
 6   tags          31972 non-null  object
 7   reviews_url   32133 non-null  object
 8   specs         31465 non-null  object
 9   price         30758 non-null  object
 10  early_access  32135 non-null  object
 11  id            32133 non-null  object
 12  developer     28836 non-null  object
dtypes: object(13)
memory usage: 11.9+ MB