In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.Series([4,44,56,57,34,23,45])
df

0     4
1    44
2    56
3    57
4    34
5    23
6    45
dtype: int64

In [7]:
media =df.mean()
desvio_std = df.std()

18.998746825840406

In [10]:
media

37.57142857142857

In [8]:
z = []
for i in df:
    z.append((i-media)/desvio_std)

z

[-1.7670338406619377,
 0.33836818225441373,
 0.9699887891293191,
 1.0226238397022278,
 -0.1879823234746741,
 -0.7669678797766707,
 0.39100323282732247]

In [9]:
df2 = pd.DataFrame({'X':df,'z_score':z})
df2

    X   z_score
0   4 -1.767034
1  44  0.338368
2  56  0.969989
3  57  1.022624
4  34 -0.187982
5  23 -0.766968
6  45  0.391003