In [2]:
# Librerias necesarias
import pandas as pd
import numpy as np
import json
import ast
import gzip

C:\Users\Martin\AppData\Local\Temp\ipykernel_9812\4171661857.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
# Rutas de los datos:
ruta_games='Datasets originales/steam_games.json.gz'
ruta_user_reviews='Datasets originales/user_reviews.json.gz'
ruta_user_items='Datasets originales/users_items.json.gz'

## Games:
games_orig = []
with gzip.open(ruta_games, 'rt', encoding='utf-8') as archivo:
    lineas = archivo.readlines()
    for linea in lineas:
        games_orig.append(linea) 

# Quitamos el '\n' al final de cada linea:
for i in range(0,len(games_orig)):
    games_orig[i]= games_orig[i].replace("\n","")
# Transformo cada una de las cadenas a diccionario de Python:
for i in range(0,len(games_orig)):
    games_orig[i]= json.loads(games_orig[i])
    
# Transformamos a DataFrame:
games_orig = pd.DataFrame(games_orig)
games_orig.shape

(120445, 13)

In [4]:
## Reviews:
user_reviews = []
with gzip.open(ruta_user_reviews, 'rt', encoding="utf-8") as archivo:
    lineas = archivo.readlines()
for linea in lineas:
    user_reviews.append(ast.literal_eval(linea))
    
# Transformamos a DataFrame:
user_reviews_orig = pd.DataFrame(user_reviews)
user_reviews_orig.shape

(25799, 3)

In [5]:
## Items:
user_items = []
with gzip.open(ruta_user_items, 'rt', encoding="utf-8") as archivo:
    lineas = archivo.readlines()
for linea in lineas:
    user_items.append(ast.literal_eval(linea))
    
# Transformamos a DataFrame:
user_items_orig = pd.DataFrame(user_items)
user_items_orig.shape

(88310, 5)

#### 1. Extracción

In [6]:
games = games_orig.copy()
user_reviews = user_reviews_orig.copy()
user_items = user_items_orig.copy()

#### 2. Transformación

##### 2.1 Para la consulta n° 1: PlayTimeGenre

In [7]:
games.tail(2) # de este df me sirve la columna genre y id

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
120443,SIXNAILS,"[Casual, Indie]",EXIT 2 - Directions,EXIT 2 - Directions,http://store.steampowered.com/app/658870/EXIT_...,2017-09-02,"[Indie, Casual, Puzzle, Singleplayer, Atmosphe...",http://steamcommunity.com/app/658870/reviews/?...,"[Single-player, Steam Achievements, Steam Cloud]",4.99,False,658870,"xropi,stev3ns"
120444,NaN,NaN,Maze Run VR,NaN,http://store.steampowered.com/app/681550/Maze_...,NaN,"[Early Access, Adventure, Indie, Action, Simul...",http://steamcommunity.com/app/681550/reviews/?...,"[Single-player, Stats, Steam Leaderboards, HTC...",4.99,True,681550,NaN

In [8]:
user_reviews.head()

,user_id,user_url,reviews
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'funny': '', 'posted': 'Posted November 5, 2..."
1,js41637,http://steamcommunity.com/id/js41637,"[{'funny': '', 'posted': 'Posted June 24, 2014..."
2,evcentric,http://steamcommunity.com/id/evcentric,"[{'funny': '', 'posted': 'Posted February 3.',..."
3,doctr,http://steamcommunity.com/id/doctr,"[{'funny': '', 'posted': 'Posted October 14, 2..."
4,maplemage,http://steamcommunity.com/id/maplemage,"[{'funny': '3 people found this review funny',..."

In [9]:
# Extraigo solo las columnas que voy a usar

reviews = user_reviews[['user_id','reviews']]
reviews.head()

             user_id                                            reviews
0  76561197970982479  [{'funny': '', 'posted': 'Posted November 5, 2...
1            js41637  [{'funny': '', 'posted': 'Posted June 24, 2014...
2          evcentric  [{'funny': '', 'posted': 'Posted February 3.',...
3              doctr  [{'funny': '', 'posted': 'Posted October 14, 2...
4          maplemage  [{'funny': '3 people found this review funny',...

In [55]:
# Desanidamos reviews:

reviews_explode = reviews.explode('reviews', ignore_index=True) # separo en filas todos todos los json que estan listados en cada registro
reviews_desanidado = pd.json_normalize(reviews_explode['reviews']) # transformo a tabla cada uno de los json que tenemos en cada registro
reviews = pd.concat([reviews_explode,reviews_desanidado], axis=1).drop(columns=['reviews']) # concateno ambos dataframes

In [56]:
reviews.shape

(59333, 8)

In [57]:
user_items.head()

,user_id,items_count,steam_id,user_url,items
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
1,js41637,888,76561198035864385,http://steamcommunity.com/id/js41637,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
2,evcentric,137,76561198007712555,http://steamcommunity.com/id/evcentric,"[{'item_id': '1200', 'item_name': 'Red Orchest..."
3,Riot-Punch,328,76561197963445855,http://steamcommunity.com/id/Riot-Punch,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
4,doctr,541,76561198002099482,http://steamcommunity.com/id/doctr,"[{'item_id': '300', 'item_name': 'Day of Defea..."

In [68]:
# Extraigo solo las columnas que voy a usar:
items = user_items[['user_id','items']]
items.head()

             user_id                                              items
0  76561197970982479  [{'item_id': '10', 'item_name': 'Counter-Strik...
1            js41637  [{'item_id': '10', 'item_name': 'Counter-Strik...
2          evcentric  [{'item_id': '1200', 'item_name': 'Red Orchest...
3         Riot-Punch  [{'item_id': '10', 'item_name': 'Counter-Strik...
4              doctr  [{'item_id': '300', 'item_name': 'Day of Defea...

In [69]:
# Desanidamos items:

items_explode = items.explode('items', ignore_index=True) # separo en filas todos todos los json que estan listados en cada registro
items_desanidado = pd.json_normalize(items_explode['items']) # transformo a tabla cada uno de los json que tenemos en cada registro
items = pd.concat([items_explode,items_desanidado], axis=1).drop(columns=['items']) # concateno ambos dataframes

In [70]:
items.shape

(5170015, 5)